{% extends "base.html" %}

{% block title %} Login {% endblock title %}

{% block body %}

<section class="text-gray-600 body-font relative">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-col text-center w-full mb-12">
      <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">Login Page</h1>
    </div>
    <div class="lg:w-1/2 md:w-2/3 mx-auto">
      <div class="flex flex-wrap -m-2">
        <div class="p-2 w-1/2">
          <div class="relative">
            <label for="username" class="leading-7 text-sm text-gray-300 hover:text-rose-500 transition-colors duration-200 ease-in-out">Username</label>
            <input type="text" id="username" name="username" class="w-full bg-gray-800 bg-opacity-80 rounded border border-gray-500 focus:border-blue-500 focus:bg-gray-900 focus:ring-2 focus:ring-blue-200 text-base outline-none text-white py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
          </div>
        </div>
        
        <div class="p-2 w-1/2">
          <div class="relative">
            <label for="password" class="leading-7 text-sm text-gray-300 hover:text-rose-500 transition-colors duration-200 ease-in-out">Password</label>
            <input type="password" id="password" name="password" class="w-full bg-gray-800 bg-opacity-80 rounded border border-gray-500 focus:border-blue-500 focus:bg-gray-900 focus:ring-2 focus:ring-blue-200 text-base outline-none text-white py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
          </div>
        </div>
        
        
        <div class="p-2 w-full">
          <button class="flex mx-auto text-white bg-blue-500 border-0 py-2 px-8 focus:outline-none hover:bg-cyan-400 rounded text-lg">Login</button>
        </div>
        <div class="p-2 w-full pt-8 mt-8 border-t border-gray-200 text-center">
          <a class="text-blue-500" href="/register" style="color: cyan-500;">Not Registered?</a>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock body %}